html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #272822;
  color: #a4d6cf;
  font-family: helvetica, sans-serif; }

a, a:link {
  text-decoration: none;
  color: #e8e2b7; }

.hilite {
  background-color: #c3d5d3;
  color: #1D1D1C; }

.alert {
  background-color: #ca3349;
  color: #b3d4fc; }

.warning {
  background-color: #ca3349;
  border: 10px solid #db6f7f;
  color: #b3d4fc;
  float: right;
  padding: 10px;
  margin-top: 10px; }

input, textarea {
  outline: none;
  border: 1px solid #5c77bf;
  background-color: #0d0d0d;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  color: #ccccc8; }
  input:focus, textarea:focus {
    border: 1px solid #5c77bf;
    background-color: #4A4A4A; }
  input[type=submit], textarea[type=submit] {
    margin-top: 10px; }

.container {
  *zoom: 1;
  max-width: 61em;
  _width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.header {
  background: url("/static/images/snout.png") no-repeat center bottom;
  text-align: center;
  color: #5c77bf;
  margin-top: 20px; }
  .header > .title {
    font-size: 1.6em;
    margin-bottom: 10px;
    margin-top: 0; }
  .header .main-title {
    font-size: 3.7em; }

.regex_main, .main_404, .reference {
  border: 10px solid #dadbd4;
  overflow: hidden;
  padding: 20px;
  background-color: #2f3029;
  margin-bottom: .5em; }

.regex_main #regex {
  width: 100%;
  height: 36px;
  margin-top: 0.5em; }
.regex_main .options_warning {
  overflow: hidden;
  height: 80px; }
.regex_main .options {
  float: left;
  margin-top: 10px;
  padding-top: 20px;
  height: 30px; }
  .regex_main .options label {
    margin-left: 0.5em; }
.regex_main .test_results {
  clear: both; }
.regex_main #test {
  width: 100%;
  min-height: 130px;
  margin-bottom: 0.5em;
  margin-top: 0.5em; }
.regex_main .result {
  margin-top: 30px;
  min-height: 100px;
  overflow: hidden; }
  .regex_main .result .title {
    margin: 0; }
  .regex_main .result .match_list, .regex_main .result .match_text {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    margin-bottom: 0.5em; }
    @media (min-width: 40em) {
      .regex_main .result .match_list, .regex_main .result .match_text {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%; } }
    .regex_main .result .match_list .list, .regex_main .result .match_list .text, .regex_main .result .match_text .list, .regex_main .result .match_text .text {
      background-color: #1f201b;
      min-height: 100px;
      border: 10px solid #3d3e35;
      padding: 0.5em;
      margin-top: 0.5em; }
    .regex_main .result .match_list .text, .regex_main .result .match_text .text {
      line-height: 1.7em; }
    .regex_main .result .match_list .js, .regex_main .result .match_text .js {
      display: none; }
    .regex_main .result .match_list .list ol, .regex_main .result .match_text .list ol {
      margin: 0.25em 0; }
  .regex_main .result .match_group {
    margin-bottom: 6px; }
    .regex_main .result .match_group .match {
      margin: 0 0 0 20px; }
    .regex_main .result .match_group td {
      padding: 0 10px 10px 0; }
    .regex_main .result .match_group table {
      margin-top: 0.5em;
      margin-left: 2em; }
  .regex_main .result .match_text {
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    word-break: break-all; }
    .regex_main .result .match_text .match {
      padding: 2px;
      margin: 0 2px; }

.example {
  width: 100%;
  margin-top: 30px;
  min-height: 100px;
  overflow: hidden;
  background-color: #c3d5d3;
  color: #0d0d0d;
  border: 10px solid #616161;
  text-align: center;
  padding: 10px; }
  .example a {
    color: #8d5fb8; }

.reference {
  font-size: 14px;
  color: #ccccc8; }
  .reference h3 {
    text-align: center; }
  .reference a {
    color: #e8e2b7; }
  .reference .quickref {
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
    margin-top: 0.5em; }
  .reference .quickref .entry {
    -webkit-column-break-inside: avoid;
    break-inside: avoid; }
  .reference .quickref .character {
    display: table; }
  .reference .quickref .definition {
    display: table; }
  .reference .quickref code {
    color: #8d5fb8; }

footer {
  font-size: .8em;
  text-align: center;
  margin: 10px 0; }
