{% extends "base.html" %}

{% set reference = [("[abc]","A single character of: a, b or c"),
("[^abc]","Any single character except: a, b, or c"),
("[a-z]","Any single character in the range a-z"),
("[a-zA-Z]","Any single character in the range a-z or A-Z"),
("^","Start of string, and in MULTILINE mode also matches immediately after each newline."),
("$","Matches the end of the string or just before the newline at the end of the string, and in MULTILINE mode also matches before a newline."),
("\A","Start of string."),
("\z","End of string."),
(".","Any single character except a newline. If the DOTALL flag has been specified, this matches any character including a newline."),
("\s","Any whitespace character."),
("\S","Any non-whitespace character"),
("\d","Any digit"),
("\D","Any non-digit"),
("\w","Any word character (letter, number, underscore)."),
("\W","Any non-word character"),
("\b","Any word boundary"),
("(...)","Matches whatever regular expression is inside the parentheses, and indicates the start and end of a group."),
("(?:...)","A non-grouping version of regular parentheses."),
("(?P<name>...)","A named version of regular parentheses."),
("(?#...)","A comment; the contents of the parentheses are simply ignored."),
("(?=..)","Matches if ... matches next, but doesn't consume any of the string. This is called a lookahead assertion."),
("(?!...)","Matches if ... doesn't match next. This is a negative lookahead assertion."),
("(?<=...)","Matches if the current position in the string is preceded by a match for ... that ends at the current position. This is called a positive lookbehind assertion."),
("(?<!...)","Matches if the current position in the string is not preceded by a match for .... This is called a negative lookbehind assertion."),
("(a|b)","a or b"),
("a?","Zero or one of a"),
("a*","Zero or more of a"),
("a+","One or more of a"),
("a{m}","Exactly m of a"),
("a{m,}","m or more of a"),
("a{m,n}","Between m and n of a"),
("a{m,n}?","As few as possible between m and n of a")] %}

{% block content %}
<div class="regex_main">
    <form action="" method="POST" id="regex_form" name="regex" class="main_area">
        {{ form.hidden_tag() }}
        <label id="regex_label">Your regular expression:</label>
        <br />
        {{ form.regex }}
        <div class="options_warning">
            <div class="options" id="options">
                {% for option in form.options %}
                {{ option }}{{ option.label }}
                {% endfor %}
            </div>
            <div id="warning" class="warning"></div>
        </div>
        <div class="test_results">
            <div class="test">
                <label id="text_label">Your test string:</label>
                {{ form.test }}
            </div>
        </div>
        <input type="submit" name="submit" class="submit" value="Submit" />
    </form>

    <div id="result" class="result">
                <div class="match_list">
                    <h4 class="title">Match Groups</h4>
                        <div class="list">
                        {% for match_group in match_list %}
                            <div class="match_group" id="match_group{{ loop.index0 }}">
                            Match {{ loop.index }}:
                            {% for matches in match_group %}
                                <pre class="match">{% for key, value in matches.items() %}<span class="match_name">{{ key }}.</span>&nbsp;&nbsp;{{ value }}{%  endfor %}</pre>
                            {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                </div>
                <div class="match_text">
                    <h4 class="title">Match text</h4>
                    <pre class="text">{{ match_text | safe }}</pre>
                </div>
            </div>
</div>

<h3 class="reference-heading">Regex quick reference</h3>
<div class="reference">
    <div id="quickref" class="quickref">
        {% for entry in reference %}
        <div class="entry">
            <code>{{ entry[0] }}</code> {{ entry[1] }}
        </div>
        {% endfor %}
    </div>
</div>

<footer>
    Heavily inspired by <a href="http://rubular.com/">Rubular</a> by <a href="http://lovitt.net">Michael
    Lovitt</a>, with design and reference shamelessly lifted therefrom. Made by Eben Packwood.
</footer>
{% endblock %}